site_name: Micro wallet
markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - def_list
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tasklist:
      custom_checkbox: true
theme:
  name: material
  palette:
      primary: pink
extra:
  social:
    - icon: fontawesome/brands/github 
      link: https://github.com/superXdev
    - icon: fontawesome/solid/envelope
      link: mailto:fikrizhanking@gmail.com
    - icon: fontawesome/brands/twitter 
      link: https://twitter.com/frdblock
copyright: Copyright &copy; 2022 superXdev